.leetcode {
  background-image: url('./images/logo-leetcode.svg');
}

.microsoft {
  background-image: url('./images/logo-microsoft.svg');
}

.myshell {
  background-image: url('./images/logo-myshell.jpg');
}

.nio {
  background-image: url('./images/logo-nio.svg');
}

.pdd {
  background-image: url('./images/logo-pdd.jpg');
}

.temu {
  background-image: url('./images/logo-temu.jpg');
}

.tencent {
  background-image: url('./images/logo-tencent.svg');
}

.wacai {
  background-image: url('./images/logo-wacai.png');
}
