@theme {
  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes scale-up {
    0% {
      transform: scale(0.5);
    }

    100% {
      transform: scale(1);
    }
  }
}

@utility ease-default {
  transition-timing-function: ease;
}

@utility duration-250 {
  transition-duration: 250ms;
}

@utility animate-fade {
  animation: fade 0.5s ease backwards;
}

@utility animate-scale-up {
  animation: scale-up 0.25s ease forwards;
}
