@theme {
  --color-jet: #383838;
  --color-onyx: #2b2b2c;
  --color-eerieBlack1: #202022;
  --color-eerieBlack2: #1e1e1f;
  --color-eerieBlack3: #323234;
  --color-smokyBlack: #121212;
  --color-white2: #fafafa;
  --color-orangeYellowCrayola: #ffdb70;
  --color-vegasGold: #ceb15a;
  --color-lightGray: #d6d6d6;
  --color-lightGray70: #d6d6d6b2;
  --color-navbar: #2b2b2cbf;
}
