@theme {
  --color-jet: hsl(0, 0%, 22%);
  --color-onyx: hsl(240, 1%, 17%);
  --color-eerieBlack1: hsl(240, 2%, 13%);
  --color-eerieBlack2: hsl(240, 2%, 12%);
  --color-eerieBlack3: hsl(240, 2%, 20%);
  --color-smokyBlack: hsl(0, 0%, 7%);
  --color-white2: hsl(0, 0%, 98%);
  --color-orangeYellowCrayola: hsl(45, 100%, 72%);
  --color-vegasGold: hsl(45, 54%, 58%);
  --color-lightGray: hsl(0, 0%, 84%);
  --color-lightGray70: hsla(0, 0%, 84%, 0.7);
  --color-navbar: #2b2b2cbf;
}
