@theme inline {
  --text-1: 4px;
  --text-2: 8px;
  --text-3: 12px;
  --text-3_5: 14px;
  --text-4: 16px;
  --text-4_5: 18px;
  --text-5: 20px;
  --text-6: 24px;
  --text-6_5: 26px;
  --text-7: 28px;
  --text-8: 32px;
}
