@theme {
  /* icons for ui elements */
  --background-image-eye: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' stroke='%23ffdb70'%3E%3Cpath d='M255.66 112c-77.94 0-157.89 45.11-220.83 135.33a16 16 0 0 0-.27 17.77C82.92 340.8 161.8 400 255.66 400c92.84 0 173.34-59.38 221.79-135.25a16.14 16.14 0 0 0 0-17.47C428.89 172.28 347.8 112 255.66 112z' stroke-linecap='round' stroke-linejoin='round' stroke-width='50' fill='none'/%3E%3Ccircle cx='256' cy='256' r='80' stroke-miterlimit='10' stroke-width='50' fill='none'/%3E%3C/svg%3E");
  --background-image-icon-box: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 512 512' stroke='%23ffdb70'%3E%3Cpath d='M256 160c16-63.16 76.43-95.41 208-96a15.94 15.94 0 0116 16v288a16 16 0 01-16 16c-128 0-177.45 25.81-208 64-30.37-38-80-64-208-64-9.88 0-16-8.05-16-17.93V80a15.94 15.94 0 0116-16c131.57.59 192 32.84 208 96zM256 160v288' stroke-linecap='round' stroke-linejoin='round' fill='none' stroke-width='50'%3E%3C/path%3E%3C/svg%3E");

  /* user avatar */
  --background-image-avatar: url("../images/avatar.jpg");

  /* icons for companies */
  --background-image-leetcode: url("../images/company/leetcode.svg");
  --background-image-microsoft: url("../images/company/microsoft.svg");
  --background-image-myshell: url("../images/company/myshell.jpg");
  --background-image-nio: url("../images/company/nio.svg");
  --background-image-pdd: url("../images/company/pdd.jpg");
  --background-image-temu: url("../images/company/temu.jpg");
  --background-image-tencent: url("../images/company/tencent.svg");
  --background-image-wacai: url("../images/company/wacai.jpg");

  /* icons for services */
  --background-image-icon-arch: url("../images/services/arch.svg");
  --background-image-icon-devops: url("../images/services/devops.svg");
  --background-image-icon-frontend: url("../images/services/frontend.svg");
  --background-image-icon-fullstack: url("../images/services/fullstack.svg");

  /* BuyMeACoffee Icon */
  --background-image-coffee: url("../images/coffee.svg");
}
