@utility shadow-scroll-bar {
  box-shadow:
    inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
    inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

@utility shadow-1 {
  box-shadow: var(--shadow-1);
}
@utility shadow-2 {
  box-shadow: var(--shadow-2);
}
@utility shadow-3 {
  box-shadow: var(--shadow-3);
}
@utility shadow-4 {
  box-shadow: var(--shadow-4);
}
@utility shadow-5 {
  box-shadow: var(--shadow-5);
}

@layer base {
  :root {
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
  }

  @media (min-width: 1024px) {
    :root {
      --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
      --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
      --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
    }
  }
}
