@theme {
  --shadow-1: -4px 8px 24px #0000003f;
  --shadow-1xl: -4px 8px 24px #0000001f;
  --shadow-2: 0 16px 30px #0000003f;
  --shadow-2xl: 0 16px 30px #0000001f;
  --shadow-3: 0 16px 40px #0000003f;
  --shadow-3xl: 0 16px 40px #0000001f;
  --shadow-4: 0 25px 50px #00000026;
  --shadow-5: 0 24px 80px #0000003f;
  --shadow-timeline: 0 0 0 4px #383838;
}
