@theme inline {
  --shadow-1: var(--shadow-s1);
  --shadow-2: var(--shadow-s2);
  --shadow-3: var(--shadow-s3);
  --shadow-4: var(--shadow-s4);
  --shadow-5: var(--shadow-s5);
}

@theme {
  --shadow-timeline: 0 0 0 4px hsl(0, 0%, 22%);
}

@layer base {
  :root {
    --shadow-s1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-s2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-s3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-s4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-s5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
  }

  @media (min-width: 1024px) {
    :root {
      --shadow-s1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
      --shadow-s2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
      --shadow-s3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
    }
  }
}
