@theme {
  --breakpoint-sm: 450px;
  --breakpoint-md: 580px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1250px;
  --background-image-bgGradientOnyx: linear-gradient(
    to bottom right,
    #3f3f40 3%,
    #303030 97%
  );
  --background-image-bgGradientJet: linear-gradient(
    to bottom right,
    #2d2d2e40 0%,
    #1b1b1d00 100%
  );
  --background-image-bgGradientYellow1: linear-gradient(
    to bottom right,
    #ffda6b 0%,
    #ffc06100 50%
  );
  --background-image-bgGradientYellow2:
    linear-gradient(135deg, #ffda6b40 0%, #ffbb5c00 59.86%), #202022;
  --background-image-borderGradientOnyx: linear-gradient(
    to bottom right,
    #404040 0%,
    #40404000 50%
  );
  --background-image-textGradientYellow: linear-gradient(
    to right,
    #ffdb70,
    #ffbb5c
  );
}

@theme inline {
  --radius-0: 0;
  --radius-1: 4px;
  --radius-1_25: 5px;
  --radius-2_5: 10px;
  --radius-2_5xl: 20px;
  --radius-3_5: 14px;
  --radius-4: 16px;
  --radius-5: 20px;
  --radius-7_5: 30px;
  --text-1: 4px;
  --text-2: 8px;
  --text-3: 12px;
  --text-3_5: 14px;
  --text-4: 16px;
  --text-4_5: 18px;
  --text-5: 20px;
  --text-6: 24px;
  --text-6_5: 26px;
  --text-7: 28px;
  --text-8: 32px;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-5: 5;
  --z-index-1000: 1000;
  --scale-80: 0.8;

  /* for line-height */
  --spacing-x1_3: 1.3;
  --spacing-x1_6: 1.6;
  --spacing-0: 0;
  --spacing-1: 4px;
  --spacing-1_25: 5px;
  --spacing-2: 8px;
  --spacing-2_5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-7_5: 30px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-12_5: 50px;
  --spacing-13: 52px;
  --spacing-14: 56px;
  --spacing-15: 60px;
  --spacing-16: 64px;
  --spacing-17: 68px;
  --spacing-18: 72px;
  --spacing-19: 76px;
  --spacing-20: 80px;
  --spacing-25: 100px;
  --spacing-28: 112px;
  --spacing-30: 120px;
  --spacing-37_5: 150px;
  --spacing-45: 180px;
  --spacing-50: 200px;
  --spacing-57_5: 230px;
  --spacing-65: 260px;
  --spacing-101: 404px;
  --spacing-105: 420px;
  --spacing-130: 520px;
  --spacing-146: 584px;
  --spacing-150: 600px;
  --spacing-175: 700px;
  --spacing-237_5: 950px;
  --spacing-250: 1000px;
  --spacing-300: 1200px;
  --spacing-contact: calc(100% - 46px);
  --spacing-contact2: calc(100% - 64px);
  --aspect-4\/3: 4/3;
  --aspect-5\/3: 5/3;
  --blur-2_5: 10px;
}
