.avatarBox {
  background: var(--bg-gradient-onyx);
  border-radius: 20px;
}

@media (min-width: 580px) {
  .avatarBox {
    border-radius: 30px;
  }
  .avatarBox img {
    width: 120px;
  }
}

@media (min-width: 1250px) {
  .avatarBox img {
    width: 150px;
  }
}
