.iconBox {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.iconBox::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

@media (min-width: 580px) {
  .iconBox {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }
}

.contactItem {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contactInfo {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);
}
.contactLink,
.contactAddress {
  color: var(--white-2);
  font-size: var(--fs-7);
}

.contactAddress {
  font-style: normal;
}

@media (min-width: 580px) {
  .contactInfo {
    max-width: calc(100% - 64px);
    width: calc(100% - 64px);
  }
}

@media (min-width: 1250px) {
  .contactLink {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contactLink,
  .contactAddress {
    --fs-7: 14px;
    font-weight: var(--fw-300);
  }
}

.contactTitle {
  color: var(--light-gray-70);
  font-size: var(--fs-8);
  text-transform: uppercase;
  margin-bottom: 2px;
}
