/* start side bar */

.sideBar {
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
  margin-bottom: 15px;
  max-height: 112px;
  overflow: hidden;
  transition: var(--transition-2);
}

.sideBar.active {
  max-height: 405px;
}

.sideBarInfoMore {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
}

.sideBar.active .sideBarInfoMore {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 580px) {
  .sideBar {
    width: 520px;
    margin-inline: auto;
    padding: 30px;
    max-height: 180px;
    margin-bottom: 30px;
  }
  .sideBar.active {
    max-height: 584px;
  }
}

@media (min-width: 768px) {
  .sideBar {
    width: 700px;
  }
}

@media (min-width: 1024px) {
  .sideBar {
    width: 950px;
    box-shadow: var(--shadow-5);
  }
}

@media (min-width: 1250px) {
  .sideBar {
    width: auto;
    position: sticky;
    top: 60px;
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    padding-top: 60px;
    z-index: 1;
  }

  .sideBar.active {
    max-height: initial;
  }

  .sideBarInfoMore {
    opacity: 1;
    visibility: visible;
  }
}

/* end side bar */

/* start separator */
.separator {
  width: 100%;
  height: 1px;
  background: var(--jet);
  margin: 16px 0;
}
@media (min-width: 580px) {
  .separator {
    margin: 32px 0;
  }
}

@media (min-width: 1250px) {
  .separator:last-of-type {
    margin: 15px 0;
    opacity: 0;
  }
}

/* end separator */

.contactsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 580px) {
  .contactsList {
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .contactsList {
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
  }
}

@media (min-width: 1250px) {
  .contactsList {
    grid-template-columns: 1fr;
  }
}

.socialList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-bottom: 4px;
  padding-left: 7px;
}

@media (min-width: 1250px) {
  .socialList {
    justify-content: center;
  }
}

.socialLink {
  color: var(--light-gray-70);
  font-size: 18px;
}

.socialLink:hover {
  color: var(--light-gray);
}
