.navbarLink {
  color: var(--light-gray);
  font-size: var(--fs-8);
  padding: 20px 7px;
  transition: color var(--transition-1);
}

.navbarLink:hover,
.navbarLink:focus {
  color: var(--light-gray-70);
}

.navbarLink.active {
  color: var(--orange-yellow-crayola);
}

@media (min-width: 580px) {
  .navbarLink {
    --fs-8: 14px;
  }
}

@media (min-width: 768px) {
  .navbarLink {
    --fs-8: 15px;
  }
}

@media (min-width: 1024px) {
  .navbarLink {
    font-weight: var(--fw-500);
  }
}
