doctype html
html
    head
        meta(charset='UTF-8')
        title=appName
        link(rel='apple-touch-icon', href='/dist/images/icon.png')
        link(rel='apple-touch-startup-image', href='/dist/images/splash.jpg')
        meta(name='apple-mobile-web-app-title', content=appName)
        meta(name='apple-mobile-web-app-capable', content='yes')
        //meta(name="apple-mobile-web-app-status-bar-style", content="black")
    body
        h2 Hello GitHub
        script
            include:babel ../js/loader.js