doctype html
html
    head
        meta(charset='UTF-8')
        style
            include:stylus ../stylus/loader.styl
    body

        .main
            .inner
                h2 Hello GitHub
        script
            include:babel ../js/loader.js