@import 'tailwindcss';

@theme {
  --breakpoint-sm: 450px;
  --breakpoint-md: 580px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1250px;

  --color-jet: hsl(0, 0%, 22%);
  --color-onyx: hsl(240, 1%, 17%);
  --color-eerieBlack1: hsl(240, 2%, 13%);
  --color-eerieBlack2: hsl(240, 2%, 12%);
  --color-eerieBlack3: hsl(240, 2%, 20%);
  --color-smokyBlack: hsl(0, 0%, 7%);
  --color-white2: hsl(0, 0%, 98%);
  --color-orangeYellowCrayola: hsl(45, 100%, 72%);
  --color-vegasGold: hsl(45, 54%, 58%);
  --color-lightGray: hsl(0, 0%, 84%);
  --color-lightGray70: hsla(0, 0%, 84%, 0.7);

  --background-image-bgGradientOnyx: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  --background-image-bgGradientJet: linear-gradient(
    to bottom right,
    hsla(240, 1%, 18%, 0.251) 0%,
    hsla(240, 2%, 11%, 0) 100%
  );
  --background-image-bgGradientYellow1: linear-gradient(
    to bottom right,
    hsl(45, 100%, 71%) 0%,
    hsla(36, 100%, 69%, 0) 50%
  );
  --background-image-bgGradientYellow2:
    linear-gradient(
      135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%
    ),
    hsl(240, 2%, 13%);
  --background-image-borderGradientOnyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  --background-image-textGradientYellow: linear-gradient(
    to right,
    hsl(45, 100%, 72%),
    hsl(35, 100%, 68%)
  );

  --shadow-timeline: 0 0 0 4px hsl(0, 0%, 22%);

  --radius-2_5xl: 20px;

  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;

  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-5: 5;

  --scale-80: 0.8;

  --spacing-7_5: 30px;
  --spacing-contact: calc(100% - 46px);
  --spacing-contact2: calc(100% - 64px);
}

@utility rounded-inherit {
  border-radius: inherit;
}

@utility shadow-1 {
  box-shadow: var(--shadow-1);
}
@utility shadow-2 {
  box-shadow: var(--shadow-2);
}
@utility shadow-3 {
  box-shadow: var(--shadow-3);
}
@utility shadow-4 {
  box-shadow: var(--shadow-4);
}
@utility shadow-5 {
  box-shadow: var(--shadow-5);
}

@utility text-1 {
  font-size: var(--fs-1);
}
@utility text-2 {
  font-size: var(--fs-2);
}
@utility text-3 {
  font-size: var(--fs-3);
}
@utility text-4 {
  font-size: var(--fs-4);
}
@utility text-5 {
  font-size: var(--fs-5);
}
@utility text-6 {
  font-size: var(--fs-6);
}
@utility text-7 {
  font-size: var(--fs-7);
}
@utility text-8 {
  font-size: var(--fs-8);
}

@utility ease-default {
  transition-timing-function: ease;
}

@utility duration-250 {
  transition-duration: 250ms;
}

@utility animate-fade {
  animation: fade 0.5s ease backwards;
}

@utility animate-scaleUp {
  animation: scaleUp 0.25s ease forwards;
}

@utility grid-cols-1fr {
  grid-template-columns: 1fr;
}

@utility grid-cols-1fr1fr {
  grid-template-columns: 1fr 1fr;
}

@utility grid-cols-r3_1fr {
  grid-template-columns: repeat(3, 1fr);
}

@custom-variant webkit-scrollbar &::-webkit-scrollbar;
@custom-variant webkit-scrollbar-track &::-webkit-scrollbar-track;
@custom-variant webkit-scrollbar-thumb &::-webkit-scrollbar-thumb;
@custom-variant webkit-scrollbar-button &::-webkit-scrollbar-button;

/* styles that only applies when javascript is disabled */
@custom-variant no-js (.no-js &);

@layer base {
  @page {
    margin: 10mm;
    size: letter;
    background-color: #ffffff;
  }

  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  ::selection {
    @apply bg-orangeYellowCrayola text-smokyBlack;
  }

  :focus {
    @apply outline-orangeYellowCrayola;
  }

  /**
   * responsive larger than 1250px screen 2xl
   */

  @media (min-width: 1250px) {
    /**
     * RESET
     */

    body::-webkit-scrollbar {
      width: 20px;
    }

    body::-webkit-scrollbar-track {
      @apply bg-smokyBlack;
    }

    body::-webkit-scrollbar-thumb {
      @apply border-[5px] border-solid border-smokyBlack;
      background: hsla(0, 0%, 100%, 0.1);
      border-radius: 20px;
      box-shadow:
        inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
        inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
    }

    body::-webkit-scrollbar-thumb:hover {
      background: hsla(0, 0%, 100%, 0.15);
    }

    body::-webkit-scrollbar-button {
      height: 60px;
    }
  }

  html {
    font-family: 'Poppins', sans-serif;
  }

  :root {
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
  }

  @media (min-width: 1024px) {
    :root {
      --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
      --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
      --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
    }
  }

  :root {
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;
  }

  @media (min-width: 580px) {
    :root {
      --fs-1: 32px;
      --fs-2: 24px;
      --fs-3: 26px;
      --fs-4: 18px;
      --fs-6: 15px;
      --fs-7: 15px;
      --fs-8: 12px;
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes scaleUp {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
}

/* icons for companies */
@layer components {
  .bg-leetcode {
    background-image: url('./images/company/leetcode.svg');
  }

  .bg-microsoft {
    background-image: url('./images/company/microsoft.svg');
  }

  .bg-myshell {
    background-image: url('./images/company/myshell.jpg');
  }

  .bg-nio {
    background-image: url('./images/company/nio.svg');
  }

  .bg-pdd {
    background-image: url('./images/company/pdd.jpg');
  }

  .bg-temu {
    background-image: url('./images/company/temu.jpg');
  }

  .bg-tencent {
    background-image: url('./images/company/tencent.svg');
  }

  .bg-wacai {
    background-image: url('./images/company/wacai.jpg');
  }
}

/* icons for ui elements */
@layer components {
  .bg-avatar {
    background-image: url('./images/avatar.jpg');
  }

  .bg-eye {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' stroke='%23ffdb70'%3E%3Cpath d='M255.66 112c-77.94 0-157.89 45.11-220.83 135.33a16 16 0 0 0-.27 17.77C82.92 340.8 161.8 400 255.66 400c92.84 0 173.34-59.38 221.79-135.25a16.14 16.14 0 0 0 0-17.47C428.89 172.28 347.8 112 255.66 112z' stroke-linecap='round' stroke-linejoin='round' stroke-width='50' fill='none'/%3E%3Ccircle cx='256' cy='256' r='80' stroke-miterlimit='10' stroke-width='50' fill='none'/%3E%3C/svg%3E");
  }

  .bg-icon-box {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 512 512' stroke='%23ffdb70'%3E%3Cpath d='M256 160c16-63.16 76.43-95.41 208-96a15.94 15.94 0 0116 16v288a16 16 0 01-16 16c-128 0-177.45 25.81-208 64-30.37-38-80-64-208-64-9.88 0-16-8.05-16-17.93V80a15.94 15.94 0 0116-16c131.57.59 192 32.84 208 96zM256 160v288' stroke-linecap='round' stroke-linejoin='round' fill='none' stroke-width='50'%3E%3C/path%3E%3C/svg%3E");
  }

  .bg-icon-arch {
    background-image: url('./images/services/arch.svg');
  }

  .bg-icon-devops {
    background-image: url('./images/services/devops.svg');
  }

  .bg-icon-frontend {
    background-image: url('./images/services/frontend.svg');
  }

  .bg-icon-fullstack {
    background-image: url('./images/services/fullstack.svg');
  }
}
