@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
}

@media (min-width: 1024px) {
  :root {
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
  }
}

:root {
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;
}

@media (min-width: 580px) {
  :root {
    --fs-1: 32px;
    --fs-2: 24px;
    --fs-3: 26px;
    --fs-4: 18px;
    --fs-6: 15px;
    --fs-7: 15px;
    --fs-8: 12px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::selection {
  @apply bg-orangeYellowCrayola text-smokyBlack;
}

:focus {
  @apply outline-orangeYellowCrayola;
}

/**
 * responsive larger than 1250px screen 2xl
 */

@media (min-width: 1250px) {
  /**
   * RESET
   */

  body::-webkit-scrollbar {
    width: 20px;
  }

  body::-webkit-scrollbar-track {
    @apply bg-smokyBlack;
  }

  body::-webkit-scrollbar-thumb {
    @apply border-[5px] border-solid border-smokyBlack;
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow:
      inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
      inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  body::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.15);
  }

  body::-webkit-scrollbar-button {
    height: 60px;
  }
}

html {
  font-family: 'Poppins', sans-serif;
}

@layer components {
  .bg-leetcode {
    background-image: url('./images/company/leetcode.svg');
  }

  .bg-microsoft {
    background-image: url('./images/company/microsoft.svg');
  }

  .bg-myshell {
    background-image: url('./images/company/myshell.jpg');
  }

  .bg-nio {
    background-image: url('./images/company/nio.svg');
  }

  .bg-pdd {
    background-image: url('./images/company/pdd.jpg');
  }

  .bg-temu {
    background-image: url('./images/company/temu.jpg');
  }

  .bg-tencent {
    background-image: url('./images/company/tencent.svg');
  }

  .bg-wacai {
    background-image: url('./images/company/wacai.png');
  }
}
