/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.content-card {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  z-index: 1;
}

.content-card::before {
  content: '';
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

.project-img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}

.project-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: var(--transition-1);
}

.project-item:hover .project-img::before {
  background: hsla(0, 0%, 0%, 0.5);
}

.project-item-icon-box {
  --scale: 0.8;

  background: var(--jet);
  color: var(--orange-yellow-crayola);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.project-item:hover .project-item-icon-box {
  --scale: 1;
  opacity: 1;
}

.project-item:hover img {
  transform: scale(1.1);
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

/**
 * responsive larger than 450px screen sm
 */

@media (min-width: 450px) {
  /**
   * #PORTFOLIO, BLOG 
   */

  .project-img {
    height: auto;
  }
}

/**
 * responsive larger than 580px screen md
 */

@media (min-width: 580px) {
  .content-card {
    padding: 30px;
    padding-top: 25px;
  }

  /* testimonials modal */

  .modal-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /**
   * #RESUME
   */

  /**
   * #PORTFOLIO, BLOG
   */

  .project-img {
    border-radius: 16px;
  }
}
