.main {
  margin: 15px 12px 75px 12px;
  min-width: 259px;
}

@media (min-width: 580px) {
  .main {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}

@media (min-width: 1024px) {
  .main {
    margin-bottom: 60px;
  }
}

@media (min-width: 1250px) {
  .main {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
  }
}
