.aboutText {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

.aboutText p {
  margin-bottom: 15px;
}

@media (min-width: 580px) {
  .aboutText {
    margin-bottom: 40px;
  }
}
