.service {
  margin-bottom: 35px;
}

.serviceTitle {
  margin-bottom: 20px;
  color: var(--white-2);
  text-transform: capitalize;
  font-size: var(--fs-2);
}

.serviceList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 1024px) {
  .serviceList {
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
  }
}

.serviceItemTitle {
  margin-bottom: 7px;
  color: var(--white-2);
  text-transform: capitalize;
  font-size: var(--fs-2);
}

.serviceItemText {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-3);
  line-height: 1.6;
}

.serviceItem {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 20px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  z-index: 1;
}

.serviceItem::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

@media (min-width: 580px) {
  .serviceItem {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    padding: 30px;
  }
}

.serviceIconBox {
  margin-bottom: 10px;
}

.serviceIconBox img {
  margin: auto;
}

@media (min-width: 580px) {
  .serviceIconBox {
    margin-bottom: 0;
    margin-top: 5px;
  }
}

.serviceContentBox {
  text-align: center;
}

@media (min-width: 580px) {
  .serviceContentBox {
    text-align: left;
  }
}